#contact_modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#contact_modal header {
    height: auto;
    position: relative;
}

#contact_modal h2 {
    text-align: left;
}

#contact_modal img {
    position: absolute;
    top: 5px;
    right: 5px;
}

.photograph-header {
    background-color: #FAFAFA;
    padding: 40px;
    margin: 0 100px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-inline: 5%;
    align-items: center;
}

.photograph-header p {
    margin-block: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.gallery-sortby p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-top: 10px;
}

.gallery-sortby {
    display: flex;
    flex: 100%;
    position: relative;
    margin-left: 100px;
    margin-bottom: 50px;
}

.sortby-dropdown {
    background: #911C1C;
    border-radius: 5px;
    position: absolute;
    width: 150px;
    overflow: visible;
    margin-left: 90px;
    z-index: 4;
}

.sortby-dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 3;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-top: 2px solid #911C1C;
    border-right: 2px solid #911C1C;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.sortby-dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.sortby-dropdown.active .dropdown-option :nth-child(n+2) {
    display: block;
    border-top: 1px solid white;
}

.sortby-dropdown .dropdown-option :nth-child(n+2) {
    color: white;
    overflow: hidden;
    display: none;
}

.sortby-dropdown .dropdown-option div {
    cursor: pointer;
    padding: 15px;
    padding-inline: 25px;
    color: white;
}

.sortby-dropdown.active .dropdown-option div:hover {
    color: #000000;
}

.photograph-gallery {
    display: flex;
    gap: 50px;
    flex-flow: row wrap;
    margin-left: 100px;
}

.photograph-gallery article img,
.photograph-gallery article video {
    cursor: pointer;
}

.gallery_video-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
}

article {
    position: relative;
}

.photograph-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    margin: 0;
}

.photograph-moreinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 250px;
    height: 70px;
    background-color: #DB8876;
    font-size: 24px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: 0;
    right: 0;
    margin-right: 3%;
    padding-inline: 40px;
    z-index: 2;
}

.dark-heart {
    filter: brightness(0%);
    margin-left: -45px;
}

.liked {
    animation: heart 0.5s linear;
}

@keyframes heart {
    0% {
        transform: rotate(0deg) scale(2);
    }

    40% {
        transform: rotate(0deg) scale(1);
    }

    41% {
        transform: rotate(360deg) scale(1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.sortByContainer {
    margin: 35px 100px;
    font-size: 500;
}

.sortByContainer select {
    background-color: #901C1C;
    width: 110px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.sortByContainer select::-ms-expand {
    display: none;

}

.sortByContainer select option {
    background-color: #901C1C;
    padding: 5px;
}

.sortByContainer label {
    margin-right: 20px;
}

.gallery_img {
    border-radius: 5px;
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.gallery_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery_info h3 {
    max-width: 350px;
    margin-block: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media_likeInfo {
    display: flex;
    flex-flow: row;
}

.media_title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #911C1C;
}

.media_likes {
    margin-right: 7px;
    font-family: 'DM Sans';
    font-size: 22px;
    line-height: 31px;
    color: #911C1C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 26px;
}

.second-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

.modal-media {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: white;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: relative;
}

.mediaModal-closeButton {
    position: absolute;
    top: 2%;
    right: -6%;
    cursor: pointer;
}

.mediaModal-previousButton {
    position: absolute;
    top: 50%;
    left: -6%;
    cursor: pointer;
}

.mediaModal-nextButton {
    position: absolute;
    top: 50%;
    right: -6%;
    cursor: pointer;
}

.mediaModal-picture {
    border-radius: 5px;
    height: 850px;
    width: 1050px;
    align-self: top;
    object-fit: cover;
}

.modal-dialog {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin: auto;
    margin-top: 20px;
}

.modal-dialog header {
    justify-content: space-between;
    width: 100%;
}

.modal-dialog header img {
    cursor: pointer;
}

.modal-dialog header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}