@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-inline: 100px;
}

h1 {
    color: #901C1C;
    display: flex;
}

a {
    text-decoration: none;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    margin-top: 80px;
}

.photographer_section article, h2 ,p {
    margin: 2px;
}

.photographer_section article {
    display: flex;
    flex: 1 1 25%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width:768px) and (max-width:900px) {
    .photographer_section article {
        flex: 30%;
    }
}
@media (max-width:768px) {
    .photographer_section article {
        flex: 100%;
    }
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
}

.photographer_img {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section .photographer_information {
    font-weight: 400;
    text-align: center;
}

.photographer_section .photographer_vignette {
    text-align: center;
}

.photographer_section .photographer_location {
    color: #901C1C;
    font-size: 20px;
    line-height: 20px;
}

.photographer_section .photographer_slogan {
    color: #000000;
    font-size: 14px;
    line-height: 15px;
}

.photographer_section .photographer_pricing {
    font-size: 12px;
    line-height: 15px;
    color: #757575;
}